body {
  background-color: #f6f8fa;
}
.root {
  margin-top: 4%;
}


.exam {
  background-color: white;
  box-shadow: 0px 0px 11px 2px rgba(194, 194, 194, 1);
  &__title {
    background-color: #292929;
    padding-top: 7px;
    padding-bottom: 5px;
    h4 {
      color: white;
    }
  }
  &__description {
    border-bottom: 2px solid #E9EBED;
  }
  &__question {
    padding-top: 7px;
    padding-bottom: 5px;
  }
  &__options {
    background-color: #F4F5F9;

    .option {
      border-bottom: 2px solid #E2EBF3;
    }
    .option:first-child{
        border-top: 2px solid #E2EBF3;
    }
  }
  &__buttons {
      padding: 10px 0px 10px 0px;
      .timer {
          margin-top: 1%;
          font-size: large;
      }
  }
}
.feedback {
  padding-top: 1%;
  background-color: #F9F9F9;
}
